@import url('https://fonts.cdnfonts.com/css/cloister-black');
@import url('https://fonts.cdnfonts.com/css/old-english-five');
@import url('https://fonts.cdnfonts.com/css/usangel');
@import url('https://fonts.cdnfonts.com/css/arb-85-poster-script-jan-39');
@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&family=Permanent+Marker&family=Sevillana&family=Silkscreen&family=Single+Day&family=Special+Elite&family=Splash&display=swap');
// $primary-font: 'Indie Flower', cursive;
$bg-dark: #121212;
$text-color: #ffffffda;
$border-color: #f7d651da;

html {
  font-size: 100%; /* Add a font size */
  //font-family: $primary-font;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  background-color: $bg-dark;
  color: $text-color;
}

img {
  display: block;
}

.container {
  height: 100%;
  width: 70%;
  position: absolute;
  top: 270px;
  right: 400px;
  opacity: 1;
}

.loki {
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;


  .letter {
    text-shadow: 0 0 0.2em $border-color, 0 0 0.2em $border-color, 0 0 0.1em $border-color;
    mix-blend-mode: screen;
    padding: 0.8rem;
    font-family: inherit; // or specify a default font-family here
  }
  
}
